@import url("https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap");

.title {
  font-family: "Sen", sans-serif;
}
#phone-details {
  width: 60%;
}
#phone-details img {
  width: 55%;
}

#search-result img {
  width: 70%;
}
.card {
  border-radius: 15px;
}
