@import url("https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap");

.title {
  font-family: "Sen", sans-serif;
}
#search-result img {
  width: 70%;
}
.card {
  border-radius: 15px;
}
.details-button {
  padding: 7px 10px;
  border-radius: 5px;
  border: 0;
  color: white;
  background-color: rgb(58, 58, 58);
}
